
  <h2>
    Edit Profile
  </h2>

<form class="profileEditForm"
    <div class="row">
    <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name" value="{{user.first_name}}" />
    </div>
    <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" value="{{user.last_name}}" />
    </div>
    </div>
      <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">City</label>
      <input type="text" class="form-control" id="editCity" placeholder="City" value="{{user.city}}"/>
      </div>
      <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">State</label>
      <input type="text" class="form-control" id="editState" placeholder="State" value="{{user.state}}"/>
      </div>
      <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Date of Birth</label>
      <input type="text" class="form-control" id="editdob" placeholder="Date of Birth" value="{{user.dob}}" />
      </div>
       <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Gender</label>
      <input type="text" class="form-control" id="gender" placeholder="Gender" value="{{user.gender}}" />
      </div>
       <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email" value="{{user.email}}" />
      </div>
  </div>
  </form>
  <button type="button" class="btn btn-primary btn-sm save-profile-btn">Save Profile</button>
  <button type="button" class="btn btn-primary btn-sm edit-profile-btn">Delete Profile</button>
  </form>
</article>

{{#if loggedIn}}
<script src="../javascript/edit-profile.js"></script>
<script src="../javascript/delete-profile.js"></script>

{{/if}}