
<div class="container-fluid row profileView">
    <div class=" col-12 col-md-3 ">

      <div class="card bg-light bg-opacity-25 rounded shadow">
            <img class="card-img-top" src="../img/{{user.avatar}}" alt="Profile Image">
            <div id="upload-div"><form id='img-upload-form' method="POST" action="/api/users/upload" enctype="multipart/form-data">
              <input id='img-file-field' type="file" name="image" value="{{user.avatar}}">
              <input type="submit" id="img-btn"></input>
            </form> </div>
            <div class="card-body">   
              <!--Profile info fill in proper terms-->            
          <h3 class="card-subtitle mb-2 profileName">{{user.first_name}} {{user.last_name}}</h3>
          <p class="card-text profileDet">{{user.gender}}</p>
          <p class="card-text profileDet">Location: {{user.city}}, {{user.state}}</p>
          <p ="card-text profileDet">Age: {{user.age}}</p>
          <a href="api/users/edit/{{user.id}}" class="cart-text editLink">Edit Profile</a>
          
        </div>
      </div>

     
      
    </div>
{{#if user.uniqueactivities }}
    <div class=" col-12 col-md-9 bg-light bg-opacity-25 rounded shadow border border-dark p-2">
         <h2 class="profilePostText mx-5 my-2">Active Posts</h2>
          
            <div class="container-fluid row d-flex flex-wrap p-5" id="activity-card-container">
              {{#each user.uniqueactivities}}
                      <div class=" activity-card card bg-light bg-opacity-25 rounded shadow col-12 col-md-5 p-2 mx-1 mr-4 mb-4">
                         <div class="card-body" data-uniqueId="{{id}}" data-activityId='{{activity.id}}' data-userId ='{{user_id}}'>    
                          <h3 class="card-subtitle profileName pb-3">Activity: {{activity.activity_name}}</h3>
                          <p class="card-text profileDet">Location: {{location_name}}</p>
                          <p ="card-text profileDet">Address {{address}}</p>
                          <button class="btn btn-danger" id="deleteBtn">Delete Post</button>
                         
                        </div>
                      </div>
               {{/each}}
              </div>
          {{/if}}
       
    </div>
    
       
</div>

{{#if user.uniqueactivities}}
    <script src="../javascript/delete-post.js"></script>
{{/if}}
<script src="../javascript/profile.js"></script>