
<div class="container .mb-10rem profileView">
  <div class="row justify-content-around px-5 py-5">
    <div class="col-lg-6">

      <div class="card bg-light bg-opacity-25 rounded shadow" style="width: 20rem;">
            <img class="card-img-top" src="../img/{{user.avatar}}" alt="Profile Image">
            <div id="upload-div"><form id='img-upload-form' method="POST" action="/api/users/upload" enctype="multipart/form-data">
              <input id='img-file-field' type="file" name="image" value="{{user.avatar}}">
              <input type="submit" id="img-btn"></input>
            </form> </div>
            <div class="card-body">   
              <!--Profile info fill in proper terms-->            
          <h3 class="card-subtitle mb-2 profileName">{{user.first_name}} {{user.last_name}}</h3>
          <p class="card-text profileDet">{{user.gender}}</p>
          <p class="card-text profileDet">Location: {{user.city}}, {{user.state}}</p>
          <p ="card-text profileDet">Age: {{user.dob}}</p>
          <a href="" class="card-text profileDet">email: {{user.email}}</p>
          <a href="api/users/edit/{{user.id}}" class="cart-text editLink">Edit Profile</a>
          
        </div>

      </div>
      
    </div>
    <div class="col-lg-6">
      <div class="">
        <div class="col-lg-6 bg-light bg-opacity-25 rounded shadow">
         <h2 class="profilePostText px-4 py-4">Active Posts</h2>
         <ol class="post-list postText">
          {{#each posts as |post|}}
          <li>
            {{> post-info post}}
          </li>
          {{/each}}
        </ol>
        </div>
        <div class="col-lg-6 bg-light bg-opacity-25 rounded shadow">
         <h2 class="profilePostText px-4 py-4">Success!!</h2>
         <ol class="post-list postText">
          {{#each posts as |post|}}
          <li>
            {{> post-info post}}
          </li>
          {{/each}}
        </ol>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="../javascript/profile.js"></script>